canvas{
    border: 10px solid rgba(222, 184, 135, 0.781);
}

*{
    background-color: rgb(25, 25, 25);
}

button{
    background-color: burlywood;

    border-radius: 10px;
    font-size: 1rem;
    width: 30%;
    height: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}